<%- include("partials/header"); -%>

<% if(message.length > 0){ %>
  <div class="alert alert-danger alert-message"><%= message %><a class="btn btn-outline-danger alert-okay error" href="/" role="button"><i class="fa fa-times"></i></a></div>
<% } %>
<div class="registration-form login-form">
  <h4>Sign Up</h4>
  <form class="form needs-validation" novalidate="" action="/" method="post">
    <div class="row g-3">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <label for="firstName" class="form-label">First name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" value="" required="" autocomplete="off">
        <div class="invalid-feedback">
          First name is required.
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-6">
        <label for="lastName" class="form-label">Last name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="" required="" autocomplete="off">
        <div class="invalid-feedback">
          Last name is required.
        </div>
      </div>

      <div class="col-12">
        <label for="username" class="form-label">Username</label>
        <div class="input-group has-validation">
          <input type="text" class="form-control" id="username" name="username" placeholder="@" required="" autocomplete="off">
          <div class="invalid-feedback">
            Username is required.
          </div>
        </div>
      </div>

      <div class="col-12">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="you@gmail.com" required="" autocomplete="off">
        <div class="invalid-feedback">
          Email address is required.
        </div>
      </div>

      <div class="col-12">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required="" autocomplete="off">
        <div class="invalid-feedback">
          Password is required.
        </div>
      </div>

      <button class="w-25 btn btn-primary btn-md" type="submit">Sign Up</button>
  </form>

  <p>or <a href="/login">Log In</a></p>
</div>

<%- include("partials/footer"); -%>
