<%- include("partials/header"); -%>
<%- include("navbar") -%> 

  
  <div class="user">
    <h4>Hello <%=firstName%></h4>
    <a class="w-25 btn btn-dark btn-md" href="/login" role="button">Log Out</a>
    <a class="w-25 btn btn-dark btn-md" href="/updateUser" role="button"
      >Update Profile</a>
  </div>


<%- include("partials/footer"); -%>
