<%- include("partials/header"); -%>
<%- include("navbar") -%> 

  
  <div class="user">
    <h4>Hello <%=firstName%></h4>
    <h5>Welcome Back!</h5>
  </div>


<%- include("partials/footer"); -%>
